src/main/app/secure-props-custom.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:listener-config name="http-listener-configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />

	<spring:beans>
		<spring:bean id="secure-property-placeholder" class="security.CustomSecurePropertyPlaceholderModule">
			<spring:property name="encryptionAlgorithm" value="Blowfish" />
			<spring:property name="encryptionMode" value="ECB" />
			<spring:property name="keyFilePath" value="keyfile.properties" />
			<spring:property name="location" value="secure.properties" />
			<spring:property name="ignoreUnresolvablePlaceholders" value="true" />
		</spring:bean>
	</spring:beans>

	<flow name="security-flow">
		<http:listener config-ref="http-listener-configuration" path="/" doc:name="HTTP" />
		<set-payload value="#['Username: ${username} \nPassword: ${password}']" doc:name="Set Payload" />
	</flow>


</mule>
